<div *ngIf="tms >= 1 && role != 'Chauffeur'">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fas fa-gas-pump text-success"></i>
                </div>
                Carburants
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <ul class="tabs-animated body-tabs-animated nav" id="tab">
                        <!-- bouton lister -->
                        <li class="nav-item">
                            <a role="tab" class="nav-link show" routerLink="/Menu/TMS/Parc/Carburants/lister-carburants"
                                (click)="activerLister()" [ngClass]="{'active': listerEstActive}">
                                <span>Lister</span>
                            </a>
                        </li>
                        <!-- bouton ajouter -->
                        <li class="nav-item" *ngIf="tms >= 2">
                            <a role="tab" class="nav-link show" routerLink="/Menu/TMS/Parc/Carburants/ajouter-carburant"
                                (click)="activerAjouter()" [ngClass]="{'active': ajouterEstActive}">
                                <span>Ajouter</span>
                            </a>
                        </li>
                    </ul>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>