.premier-input {
    width: 32%;
    margin-right: 2%;
}
.deuxieme-input {
    width: 32%;
    margin-right: 2%;
}
.troisieme-input {
    width: 32%;
}
h1{
    text-align: center;
    margin-bottom: 5%;
}