<section>
    <h2>Colisage</h2>
    <mat-accordion>
        <!-- panel importer/exporter emballage -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Emballages
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="buttons">
                <div class="file-upload">
                    <input type="file" class="file-input" accept="text/xml" (change)="onFileEmballageSelected($event)"
                        #fileEmballageUpload>
                    <div class="file-upload">
                        {{fileNameEmballage || "Pas de fichier sélectionné."}}
                        <button mat-mini-fab color="primary" class="upload-btn" (click)="fileEmballageUpload.click()"
                            matTooltip="Importer liste emballages" matTooltipPosition="right">
                            <mat-icon>attach_file</mat-icon>
                        </button>
                    </div>
                    <div class="progress">
                        <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress"
                            *ngIf="uploadProgress">
                        </mat-progress-bar>
                        <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">delete_forever
                        </mat-icon>
                    </div>
                </div>
                <div class="file-download">
                    Exporter la liste des emballages
                    <button mat-mini-fab color="primary" (click)="exporterListeEmballages()" matTooltip="Exporter"
                        matTooltipPosition="right">
                        <mat-icon>file_download</mat-icon>
                    </button>
                </div>
            </div>
        </mat-expansion-panel>
        <!--panel importer/exporter produits -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Produits
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="buttons">
                <div class="file-upload">
                    <input type="file" class="file-input" accept="text/xml" (change)="onFileProduitSelected($event)"
                        #fileProduitUpload>
                    <div class="file-upload">
                        {{fileNameProduit || "Pas de fichier sélectionné."}}
                        <button mat-mini-fab color="primary" class="upload-btn" (click)="fileProduitUpload.click()"
                            matTooltip="Importer liste produits" matTooltipPosition="right">
                            <mat-icon>attach_file</mat-icon>
                        </button>
                    </div>
                    <div class="progress">
                        <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress"
                            *ngIf="uploadProgress">
                        </mat-progress-bar>
                        <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">delete_forever
                        </mat-icon>
                    </div>
                </div>
                <div class="file-download">
                    Exporter la liste des produits
                    <button mat-mini-fab color="primary" class="upload-btn" (click)="exporterListeProduit()">
                        <mat-icon>file_download</mat-icon>
                    </button>
                </div>
            </div>
        </mat-expansion-panel>
        <!-- panel importer/exporter support -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Supports de chargement
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="buttons">
                <div class="file-upload">
                    <input type="file" class="file-input" accept="text/xml" (change)="onFileSupportSelected($event)"
                        #fileSupportUpload>
                    <div class="file-upload">
                        {{fileNameSupport || "Pas de fichier sélectionné."}}
                        <button mat-mini-fab color="primary" class="upload-btn" (click)="fileSupportUpload.click()"
                            matTooltip="Importer liste supports" matTooltipPosition="right">
                            <mat-icon>attach_file</mat-icon>
                        </button>
                    </div>
                    <div class="progress">
                        <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress"
                            *ngIf="uploadProgress">
                        </mat-progress-bar>
                        <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">delete_forever
                        </mat-icon>
                    </div>
                </div>
                <div class="file-download">
                    Exporter la liste des supports
                    <button mat-mini-fab color="primary" class="upload-btn" (click)="exporterListeSupports()">
                        <mat-icon>file_download</mat-icon>
                    </button>
                </div>
            </div>
        </mat-expansion-panel>
        <!-- panel importer/ exporter commandes -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Commandes
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="buttons">
                <div class="file-upload">
                    <input type="file" class="file-input" accept="text/xml" (change)="onFileCommandeSelected($event)"
                        #fileCommandeUpload>
                    <div class="file-upload">
                        {{fileNameCommande || "Pas de fichier sélectionné."}}
                        <button mat-mini-fab color="primary" class="upload-btn" (click)="fileCommandeUpload.click()"
                            matTooltip="Importer liste commandes" matTooltipPosition="right">
                            <mat-icon>attach_file</mat-icon>
                        </button>
                    </div>
                    <div class="progress">
                        <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress"
                            *ngIf="uploadProgress">
                        </mat-progress-bar>
                        <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">delete_forever
                        </mat-icon>
                    </div>
                </div>
                <div class="file-download">
                    Exporter la liste des commandes
                    <button mat-mini-fab color="primary" class="upload-btn" (click)="exporterListeCommandes()">
                        <mat-icon>file_download</mat-icon>
                    </button>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</section>
<section>
    <h2>Gestion de transport</h2>
    <mat-accordion>
        <!-- panel importer/exporter vehicules -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Vehicules
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="buttons">
                <div class="file-upload">
                    <input type="file" class="file-input" accept="text/xml" (change)="onFileVehiculesSelected($event)"
                        #fileVehiculesUpload>
                    <div class="file-upload">
                        {{fileNameVehicule || "Pas de fichier sélectionné."}}
                        <button mat-mini-fab color="primary" class="upload-btn" (click)="fileVehiculesUpload.click()"
                            matTooltip="Importer liste vehicules" matTooltipPosition="right">
                            <mat-icon>attach_file</mat-icon>
                        </button>
                    </div>
                    <div class="progress">
                        <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress"
                            *ngIf="uploadProgress">
                        </mat-progress-bar>
                        <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">delete_forever
                        </mat-icon>
                    </div>
                </div>
                <div class="file-download">
                    Exporter la liste des vehicules
                    <button mat-mini-fab color="primary" (click)="exporterListeVehicules()" matTooltip="Exporter"
                        matTooltipPosition="right">
                        <mat-icon>file_download</mat-icon>
                    </button>
                </div>
            </div>
        </mat-expansion-panel>
        <!-- panel importer/exporter vehicules loués -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Vehicules loués
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="buttons">
                <div class="file-upload">
                    <input type="file" class="file-input" accept="text/xml"
                        (change)="onFileVehiculesLouesSelected($event)" #fileVehiculesLouesUpload>
                    <div class="file-upload">
                        {{fileNameVehiculeLoue || "Pas de fichier sélectionné."}}
                        <button mat-mini-fab color="primary" class="upload-btn"
                            (click)="fileVehiculesLouesUpload.click()" matTooltip="Importer liste vehicules loués"
                            matTooltipPosition="right">
                            <mat-icon>attach_file</mat-icon>
                        </button>
                    </div>
                    <div class="progress">
                        <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress"
                            *ngIf="uploadProgress">
                        </mat-progress-bar>
                        <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">delete_forever
                        </mat-icon>
                    </div>
                </div>
                <div class="file-download">
                    Exporter la liste des vehicules loués
                    <button mat-mini-fab color="primary" (click)="exporterListeVehiculesLoues()" matTooltip="Exporter"
                        matTooltipPosition="right">
                        <mat-icon>file_download</mat-icon>
                    </button>
                </div>
            </div>
        </mat-expansion-panel>
        <!-- panel importer/exporter carburants -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Carburants
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="buttons">
                <div class="file-upload">
                    <input type="file" class="file-input" accept="text/xml" (change)="onFileCarburantSelected($event)"
                        #fileCarburantsUpload>
                    <div class="file-upload">
                        {{fileNameCarburant || "Pas de fichier sélectionné."}}
                        <button mat-mini-fab color="primary" class="upload-btn" (click)="fileCarburantsUpload.click()"
                            matTooltip="Importer liste carburants" matTooltipPosition="right">
                            <mat-icon>attach_file</mat-icon>
                        </button>
                    </div>
                    <div class="progress">
                        <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress"
                            *ngIf="uploadProgress">
                        </mat-progress-bar>
                        <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">delete_forever
                        </mat-icon>
                    </div>
                </div>
                <div class="file-download">
                    Exporter la liste des vehicules loués
                    <button mat-mini-fab color="primary" (click)="exporterListeCarburants()" matTooltip="Exporter"
                        matTooltipPosition="right">
                        <mat-icon>file_download</mat-icon>
                    </button>
                </div>
            </div>
        </mat-expansion-panel>
        <!-- panel importer/exporter missions -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Missions
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="buttons">
                <div class="file-upload">
                    <input type="file" class="file-input" accept="text/xml" (change)="onFileMissionSelected($event)"
                        #fileMissionsUpload>
                    <div class="file-upload">
                        {{fileNameMission || "Pas de fichier sélectionné."}}
                        <button mat-mini-fab color="primary" class="upload-btn" (click)="fileMissionsUpload.click()"
                            matTooltip="Importer liste carburants" matTooltipPosition="right">
                            <mat-icon>attach_file</mat-icon>
                        </button>
                    </div>
                    <div class="progress">
                        <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress"
                            *ngIf="uploadProgress">
                        </mat-progress-bar>
                        <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">delete_forever
                        </mat-icon>
                    </div>
                </div>
                <div class="file-download">
                    Exporter la liste des vehicules loués
                    <button mat-mini-fab color="primary" (click)="exporterListeMissions()" matTooltip="Exporter"
                        matTooltipPosition="right">
                        <mat-icon>file_download</mat-icon>
                    </button>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <h2>RH</h2>
    <mat-accordion>
        <!-- panel importer/exporter employes -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Employés
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="buttons">
                <div class="file-upload">
                    <input type="file" class="file-input" accept="text/xml" (change)="onFileEmployesSelected($event)"
                        #fileEmployesUpload>
                    <div class="file-upload">
                        {{fileNameEmploye || "Pas de fichier sélectionné."}}
                        <button mat-mini-fab color="primary" class="upload-btn" (click)="fileEmployesUpload.click()"
                            matTooltip="Importer liste carburants" matTooltipPosition="right">
                            <mat-icon>attach_file</mat-icon>
                        </button>
                    </div>
                    <div class="progress">
                        <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress"
                            *ngIf="uploadProgress">
                        </mat-progress-bar>
                        <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">delete_forever
                        </mat-icon>
                    </div>
                </div>
                <div class="file-download">
                    Exporter la liste des employés
                    <button mat-mini-fab color="primary" (click)="exporterListeEmployes()" matTooltip="Exporter"
                        matTooltipPosition="right">
                        <mat-icon>file_download</mat-icon>
                    </button>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <h2>Données</h2>
    <mat-accordion>
        <!-- panel importer/exporter clients -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Clients
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="buttons">
                <div class="file-upload">
                    <input type="file" class="file-input" accept="text/xml" (change)="onFileClientSelected($event)"
                        #fileClientsUpload>
                    <div class="file-upload">
                        {{fileNameClient || "Pas de fichier sélectionné."}}
                        <button mat-mini-fab color="primary" class="upload-btn" (click)="fileClientsUpload.click()"
                            matTooltip="Importer liste carburants" matTooltipPosition="right">
                            <mat-icon>attach_file</mat-icon>
                        </button>
                    </div>
                    <div class="progress">
                        <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress"
                            *ngIf="uploadProgress">
                        </mat-progress-bar>
                        <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">delete_forever
                        </mat-icon>
                    </div>
                </div>
                <div class="file-download">
                    Exporter la liste des clients
                    <button mat-mini-fab color="primary" (click)="exporterListeClients()" matTooltip="Exporter"
                        matTooltipPosition="right">
                        <mat-icon>file_download</mat-icon>
                    </button>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</section>