<h1 mat-dialog-title>Ajouter une Véhicule </h1>
<div mat-dialog-content >
    <form [formGroup]="form" novalidate>
        <div class="position-relative form-group">
            <label for="matricule" class="">Matricule Du Vehicule</label>
            <!-- choix type matricule -->
            <div class="position-relative form-group">
                <mat-form-field class="full-width">
                    <mat-label>Choisir un type de matricule</mat-label>
                    <mat-select formControlName="typematricule" name="typematricule" id="typematricule"
                        (selectionChange)="testTypeMatricule()" [(value)]="typeMatriculeSelectionne" required>
                        <mat-option *ngFor="let typematricule of typematricules" [value]="typematricule.value">
                            {{ typematricule.value }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls['typematricule'].hasError('required')"> Veuillez choisir un type de
                        matricule </mat-error>

                </mat-form-field>
            </div>
            <!-- Affichage input matricule TUN si le type est tun -->
            <div *ngIf="inputMatriculeTunEstAffiche" class="position-relative form-group container matricule">
                <div class="row matriculetun">
                    <input placeholder="* * *" class="form-control no-spin" id="numSerie"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        type="number" maxlength="3" formControlName="serieVoiture">
                    <input placeholder="* * * *" class="form-control no-spin" id="numCar"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        type="number" maxlength="4" formControlName="numeroVoiture">
                </div>
            </div>
            <!-- Affichage input RS si type matricule est rs -->
            <div *ngIf="inputMatriculeRsEstAffiche" class="position-relative form-group container matricule">
                <div class="row matriculers">
                    <input maxlength="6" placeholder="* * * * * *" class="form-control" id="numRS"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        type="number" maxlength="6" formControlName="matriculeRS">
                </div>
            </div>
        </div>
        <!-- input field marque -->
        <div class="position-relative form-group">
            <mat-form-field class="full-width">
                <mat-label>Marque</mat-label>
                <input matInput formControlName="marque" name="marque" id="marque" type="text"
                    style="text-transform:capitalize;" required>
                <mat-error *ngIf="form.controls['marque'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <!-- input field modele -->
        <div class="position-relative form-group">
            <mat-form-field class="full-width">
                <mat-label>Modele</mat-label>
                <input matInput formControlName="modele" name="modele" id="modele" type="text"
                    style="text-transform:capitalize;" required>
                <mat-error *ngIf="form.controls['modele'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <!-- input field couleur -->
        <div class="position-relative form-group">
            <mat-form-field class="full-width">
                <mat-label>Couleur</mat-label>
                <input matInput formControlName="couleur" name="couleur" id="couleur" type="text"
                    style="text-transform:capitalize;" required>
                <mat-error *ngIf="form.controls['couleur'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <!-- Select du Categorie vehicule -->
        <div class="position-relative form-group" id="categories">
            <mat-form-field class="full-width">
                <mat-label>Categorie du Vehicule</mat-label>
                <mat-select formControlName="car" name="carosserie" id="carosserie" [(value)]="categorie" required>
                    <mat-option *ngFor="let carosseries of carosserie" [value]="carosseries.value">
                        {{ carosseries.name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.controls['car'].hasError('required')"> Veuillez choisir une catégorie
                </mat-error>
            </mat-form-field>
        </div>
        <!-- input Kilometrage actuel -->
        <div class="position-relative form-group">
            <mat-form-field class="full-width">
                <mat-label>Kilométrage Actuel</mat-label> <input matInput placeholder="Ex. 100000"
                    formControlName="kmactuel" name="km-actuel" id="km-actuel" type="text" required>
                <mat-error *ngIf="form.controls['kmactuel'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
                <mat-error *ngIf="form.controls['kmactuel'].hasError('pattern')">
                    Seuls les <strong>chiffres</strong> sont autorisés
                </mat-error>
            </mat-form-field>
        </div>
        <!-- input kilometrage prochain entretien -->
        <div class="position-relative form-group">
            <mat-form-field class="full-width">
                <mat-label>Kilométrage Prochain Entretien</mat-label>
                <input matInput placeholder="Ex. 100000" formControlName="kmprochainentretien"
                    name="km-prochain-entretien" id="km-prochain-entretien" type="text" required>
                <mat-error *ngIf="form.controls['kmprochainentretien'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
                <mat-error *ngIf="form.controls['kmprochainentretien'].hasError('pattern')">
                    Seuls les <strong>chiffres</strong> sont autorisés
                </mat-error>
            </mat-form-field>
        </div>
        <!-- input Consommation normale -->
        <div class="position-relative form-group">
            <mat-form-field class="full-width">
                <mat-label>Consommation Normale En L/100Km</mat-label>
                <input matInput placeholder="Ex. 6" formControlName="consommationnormale" name="consommationnormale"
                    id="consommationnormale" type="text" required>
                <mat-error *ngIf="form.controls['consommationnormale'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
                <mat-error *ngIf="form.controls['consommationnormale'].hasError('pattern')">
                    Seuls les <strong>chiffres</strong> sont autorisés
                </mat-error>
            </mat-form-field>
        </div>
        <!-- Select type carburant -->
        <div class="position-relative form-group">
            <mat-form-field class="full-width">
                <mat-label>Carburant</mat-label>
                <mat-select formControlName="carburant" name="carburant" id="carburant" [(value)]="carburant" required>
                    <mat-option *ngFor="let carb of carburants" [value]="carb">
                        {{carb.nom}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.controls['carburant'].hasError('required')"> Veuillez choisir le carburant
                </mat-error>
            </mat-form-field>

        </div>
        <!-- input charge utile maximale -->
        <div class="position-relative form-group">
            <mat-form-field class="full-width">
                <mat-label>Charge Utile Maximale En Kg</mat-label>
                <input matInput placeholder="Ex. 600" formControlName="chargeUtile" name="chargeUtile" id="chargeUtile"
                    type="text" required>
                <mat-error *ngIf="form.controls['chargeUtile'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
                <mat-error *ngIf="form.controls['chargeUtile'].hasError('pattern')">
                    Seuls les <strong>chiffres</strong> sont autorisés
                </mat-error>
            </mat-form-field>
        </div>
        <!-- input longueur -->
        <div class="position-relative form-group">
            <mat-form-field class="full-width">
                <mat-label>Longueur en cm</mat-label>
                <input matInput formControlName="longueur" name="longueur" id="longueur" type="text" required>
                <mat-error *ngIf="form.controls['longueur'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
                <mat-error *ngIf="form.controls['longueur'].hasError('pattern')">
                    Seuls les <strong>chiffres</strong> sont autorisés
                </mat-error>
            </mat-form-field>
        </div>
        <!-- input largeur -->
        <div class="position-relative form-group">
            <mat-form-field class="full-width">
                <mat-label>Largeur en cm</mat-label>
                <input matInput formControlName="largeur" name="largeur" id="largeur" type="text" required>
                <mat-error *ngIf="form.controls['largeur'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
                <mat-error *ngIf="form.controls['largeur'].hasError('pattern')">
                    Seuls les <strong>chiffres</strong> sont autorisés
                </mat-error>
            </mat-form-field>
        </div>
        <!-- input hauteur -->
        <div class="position-relative form-group">
            <mat-form-field class="full-width">
                <mat-label>Hauteur en cm</mat-label>
                <input matInput formControlName="hauteur" name="hauteur" id="hauteur" type="text" required>
                <mat-error *ngIf="form.controls['hauteur'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
                <mat-error *ngIf="form.controls['hauteur'].hasError('pattern')">
                    Seuls les <strong>chiffres</strong> sont autorisés
                </mat-error>
            </mat-form-field>
        </div>
        <!-- date picker date prochain visite -->
        <div class="position-relative form-group">

            <mat-form-field class="full-width">
                <mat-label>Date Prochaine Visite</mat-label>
                <input matInput [matDatepicker]="dateVisite" formControlName="datevisite" [min]="minDate">
                <mat-datepicker-toggle matSuffix [for]="dateVisite"></mat-datepicker-toggle>
                <mat-datepicker #dateVisite></mat-datepicker>
                <mat-error *ngIf="form.controls['datevisite'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
            </mat-form-field>

        </div>
        <!-- date picker date expiration assurance -->
        <div class="position-relative form-group">

            <mat-form-field class="full-width">
                <mat-label>Date D'Expiration D'Assurance</mat-label>
                <input matInput [matDatepicker]="dateAssurance" formControlName="dateassurance" [min]="minDate">
                <mat-datepicker-toggle matSuffix [for]="dateAssurance"></mat-datepicker-toggle>
                <mat-datepicker #dateAssurance></mat-datepicker>
                <mat-error *ngIf="form.controls['dateassurance'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <!-- date picker date expiration taxes -->
        <div class="position-relative form-group">


            <mat-form-field class="full-width">
                <mat-label>Date D'Expiration Des Taxes</mat-label>
                <input matInput [matDatepicker]="dateTaxe" formControlName="datetaxe" [min]="minDate">
                <mat-datepicker-toggle matSuffix [for]="dateTaxe"></mat-datepicker-toggle>
                <mat-datepicker #dateTaxe></mat-datepicker>
                <mat-error *ngIf="form.controls['datetaxe'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions class="float-right form-group">
    <!-- bouton Annuler -->
    <button mat-button color="warn" class="mb-2 mr-2" (click)="fermerAjouterVehicule()">Annuler</button>
    <!-- fin bouton Annuler -->

    <!-- Bouton Enregistrer -->
    <button mat-button color="primary" class="mb-2 mr-2" (click)="enregistrerVehicule()"
        [disabled]="form.invalid">Enregistrer</button>
    <!-- fin Bouton Enregistrer -->
</div>