<h1 mat-dialog-title>Ajouter une Véhicule </h1>
<div mat-dialog-content class="scrollbar scrollbar-primary">
    <form [formGroup]="form" novalidate>
        <div class="position-relative form-group">
            <label for="matricule" class="">Matricule Du Vehicule</label>
            <div class="position-relative form-group">
                <mat-form-field class="example-full-width">
                    <mat-label>Choisir un type de matricule</mat-label>
                    <mat-select formControlName="typematricule" name="typematricule" id="typematricule"
                        (selectionChange)="testType()" [(value)]="typeMatriculeSelectionne" required>
                        <mat-option *ngFor="let typematricule of typematricules" [value]="typematricule.value">
                            {{ typematricule.value }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls['typematricule'].hasError('required')"> Veuillez choisir un type de
                        matricule </mat-error>

                </mat-form-field>
            </div>
            <div *ngIf="tun" class="position-relative form-group container">
                <div class="row">
                    <div class="position-relative form-group col">
                        <mat-form-field [style.width.px]=100>
                            <input matInput formControlName="matriculetun1" name="matriculetun1" id="matriculetun1"
                                type="text" maxlength="3">
                            <mat-error *ngIf="form.controls['matriculetun1'].hasError('required')">
                                Champ <strong>Obligatoire</strong>
                            </mat-error>
                            <mat-error
                                *ngIf="form.controls['matriculetun1'].hasError('pattern') || form.controls['matriculetun1'].hasError('maxlength') || form.controls['matriculetun1'].hasError('milLength')">
                                Matricule <strong>Invalide</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <h2 class="col text-center mt-1 font-weight-bold">TUN</h2>
                    <div class="position-relative form-group col">
                        <mat-form-field [style.width.px]=100>
                            <input matInput formControlName="matriculetun2" name="matriculetun2" id="matriculetun2"
                                type="text">
                            <mat-error *ngIf="form.controls['matriculetun2'].hasError('required')">
                                Champ <strong>Obligatoire</strong>
                            </mat-error>
                            <mat-error
                                *ngIf="form.controls['matriculetun2'].hasError('pattern') || form.controls['matriculetun2'].hasError('maxlength') || form.controls['matriculetun2'].hasError('minlength')">
                                Matricule <strong>Invalide</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>
                </div>
            </div>
            <div *ngIf="rs" class="position-relative form-group container">
                <div class="row">
                    <h2 class="col text-center mt-1 font-weight-bold">RS</h2>
                    <div class="position-relative form-group col">
                        <input formControlName="matriculers" name="matriculers" id="matriculers" type="text"
                            class="form-control">
                        <div
                            *ngIf="form.controls['matriculers'].invalid && (form.controls['matriculers'].dirty || form.controls['matriculers'].touched)">
                            <div *ngIf="form.controls['matriculers'].errors.required" class="text-danger">
                                Champ vide
                            </div>
                            <div *ngIf="form.controls['matriculers'].errors.pattern" class="text-danger">
                                Matricule invalide
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="position-relative form-group">
            <mat-form-field class="example-full-width">
                <mat-label>Marque</mat-label>
                <input matInput formControlName="marque" name="marque" id="marque" type="text"
                    style="text-transform:capitalize;" required>
                <mat-error *ngIf="form.controls['marque'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="position-relative form-group">
            <mat-form-field class="example-full-width">
                <mat-label>Modele</mat-label>
                <input matInput formControlName="modele" name="modele" id="modele" type="text"
                    style="text-transform:capitalize;" required>
                <mat-error *ngIf="form.controls['modele'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="position-relative form-group">
            <mat-form-field class="example-full-width">
                <mat-label>Couleur</mat-label>
                <input matInput formControlName="couleur" name="couleur" id="couleur" type="text"
                    style="text-transform:capitalize;" required>
                <mat-error *ngIf="form.controls['couleur'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="position-relative form-group" id="categories">
            <!-- <label for="categories">Carrosserie</label> -->
            <mat-form-field class="example-full-width">
                <mat-label>Categorie du Vehicule</mat-label>
                <mat-select formControlName="car" name="carosserie" id="carosserie" [(value)]="categorie" required>
                    <mat-option *ngFor="let carosseries of carosserie" [value]="carosseries.value">
                        {{ carosseries.name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.controls['car'].hasError('required')"> Veuillez choisir une catégorie
                </mat-error>
            </mat-form-field>
        </div>
        <div class="position-relative form-group">
            <mat-form-field class="example-full-width">
                <mat-label>Kilométrage Actuel</mat-label> <input matInput placeholder="Ex. 100000"
                    formControlName="kmactuel" name="km-actuel" id="km-actuel" type="text" required>
                <mat-error *ngIf="form.controls['kmactuel'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
                <mat-error *ngIf="form.controls['kmactuel'].hasError('pattern')">
                    Seuls les <strong>chiffres</strong> sont autorisés
                </mat-error>
            </mat-form-field>
        </div>
        <div class="position-relative form-group">
            <mat-form-field class="example-full-width">
                <mat-label>Kilométrage Prochain Entretien</mat-label>
                <input matInput placeholder="Ex. 100000" formControlName="kmprochainentretien"
                    name="km-prochain-entretien" id="km-prochain-entretien" type="text" required>
                <mat-error *ngIf="form.controls['kmprochainentretien'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
                <mat-error *ngIf="form.controls['kmprochainentretien'].hasError('pattern')">
                    Seuls les <strong>chiffres</strong> sont autorisés
                </mat-error>
            </mat-form-field>
        </div>
        <div class="position-relative form-group">
            <mat-form-field class="example-full-width">
                <mat-label>Consommation Normale En L/100Km</mat-label>
                <input matInput placeholder="Ex. 6" formControlName="consommationnormale" name="consommationnormale"
                    id="consommationnormale" type="text" required>
                <mat-error *ngIf="form.controls['consommationnormale'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
                <mat-error *ngIf="form.controls['consommationnormale'].hasError('pattern')">
                    Seuls les <strong>chiffres</strong> sont autorisés
                </mat-error>
            </mat-form-field>
        </div>
        <div class="position-relative form-group">
            <mat-form-field class="example-full-width">
                <mat-label>Carburant</mat-label>
                <mat-select formControlName="carburant" name="carburant" id="carburant" [(value)]="carburant" required>
                    <mat-option *ngFor="let carb of carburants" [value]="carb">
                        {{carb.nom}}
                     </mat-option>
                </mat-select>
                <mat-error *ngIf="form.controls['carburant'].hasError('required')"> Veuillez choisir le carburant
                </mat-error>
            </mat-form-field>
            
        </div>

        <div class="position-relative form-group">
            <mat-form-field class="example-full-width">
                <mat-label>Charge Utile Maximale En Kg</mat-label>
                <input matInput placeholder="Ex. 600" formControlName="chargeUtile" name="chargeUtile" id="chargeUtile"
                    type="text" required>
                <mat-error *ngIf="form.controls['chargeUtile'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
                <mat-error *ngIf="form.controls['chargeUtile'].hasError('pattern')">
                    Seuls les <strong>chiffres</strong> sont autorisés
                </mat-error>
            </mat-form-field>
        </div>
        <div class="position-relative form-group">
            <mat-form-field class="example-full-width">
                <mat-label>Longueur en cm</mat-label>
                <input matInput formControlName="longueur" name="longueur" id="longueur" type="text" required>
                <mat-error *ngIf="form.controls['longueur'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
                <mat-error *ngIf="form.controls['longueur'].hasError('pattern')">
                    Seuls les <strong>chiffres</strong> sont autorisés
                </mat-error>
            </mat-form-field>
        </div>
        <div class="position-relative form-group">
            <mat-form-field class="example-full-width">
                <mat-label>Largeur en cm</mat-label>
                <input matInput formControlName="largeur" name="largeur" id="largeur" type="text" required>
                <mat-error *ngIf="form.controls['largeur'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
                <mat-error *ngIf="form.controls['largeur'].hasError('pattern')">
                    Seuls les <strong>chiffres</strong> sont autorisés
                </mat-error>
            </mat-form-field>
        </div>
        <div class="position-relative form-group">
            <mat-form-field class="example-full-width">
                <mat-label>Hauteur en cm</mat-label>
                <input matInput formControlName="hauteur" name="hauteur" id="hauteur" type="text" required>
                <mat-error *ngIf="form.controls['hauteur'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
                <mat-error *ngIf="form.controls['hauteur'].hasError('pattern')">
                    Seuls les <strong>chiffres</strong> sont autorisés
                </mat-error>
            </mat-form-field>
        </div>
        <div class="position-relative form-group">
           
            <mat-form-field class="example-full-width">
                <mat-label>Date Prochaine Visite</mat-label>
                <input matInput [matDatepicker]="dateVisite" formControlName="datevisite" [min]="minDate">
                <mat-datepicker-toggle matSuffix [for]="dateVisite"></mat-datepicker-toggle>
                <mat-datepicker #dateVisite></mat-datepicker>
                <mat-error *ngIf="form.controls['datevisite'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
            </mat-form-field>

        </div>
        <div class="position-relative form-group">
            
            <mat-form-field class="example-full-width">
                <mat-label>Date D'Expiration D'Assurance</mat-label>
                <input matInput [matDatepicker]="dateAssurance" formControlName="dateassurance" [min]="minDate">
                <mat-datepicker-toggle matSuffix [for]="dateAssurance"></mat-datepicker-toggle>
                <mat-datepicker #dateAssurance></mat-datepicker>
                <mat-error *ngIf="form.controls['dateassurance'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="position-relative form-group">
           

            <mat-form-field class="example-full-width">
                <mat-label>Date D'Expiration Des Taxes</mat-label>
                <input matInput [matDatepicker]="dateTaxe" formControlName="datetaxe" [min]="minDate">
                <mat-datepicker-toggle matSuffix [for]="dateTaxe"></mat-datepicker-toggle>
                <mat-datepicker #dateTaxe></mat-datepicker>
                <mat-error *ngIf="form.controls['datetaxe'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions class="float-right form-group">
    <button mat-button color="warn" class="mb-2 mr-2" (click)="fermerAjouterVehicule()">Annuler</button>
    <button mat-button color="primary" class="mb-2 mr-2" (click)="enregistrerVehicule()"
        [disabled]="form.invalid">Enregistrer</button>
</div>