<button type="button" class="close" aria-label="Close"><span aria-hidden="true" (click)="fermerNotification()">×</span></button>
<h1 mat-dialog-title>Notifications</h1>

<div class="card-body">
    <div class="alert alert-light fade show" role="alert" *ngIf="noNotification()">Pas De Notifications</div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="reclamation">
        <button type="button" class="close" aria-label="Close" (click)="supprimerReclamation()"><span
                aria-hidden="true">×</span></button>
        <div>
            <h3 style="display: inline;" class="font-weight-bold">Sujet: &nbsp;</h3>
            <h4 style="display: inline;">{{this.sujet}}</h4>
        </div>
        <div>
            <h3 style="display: inline;" class="font-weight-bold">Déscription: &nbsp;</h3>
            <h4 style="display: inline;">{{this.description}}</h4>
        </div>
    </div>
    <div class="alert alert-warning fade show" role="alert" *ngIf="testEntretien()">
        <i class="fas fa-exclamation-triangle"></i> Entretien Du Vehicule Dans: {{vehicule.kmprochainentretien-vehicule.kmactuel}} km
    </div>
    <div class="alert alert-warning fade show" role="alert" *ngIf="testVisite()">
        <i class="fas fa-exclamation-triangle"></i> Visite Technique Le: {{vehicule.datevisite | date:'dd-MM-y'}}
    </div>
    <div class="alert alert-warning fade show" role="alert" *ngIf="testAssurance()">
        <i class="fas fa-exclamation-triangle"></i> Expiration De L'Assurance Du Vehicule Le: {{vehicule.dateassurance | date:'dd-MM-y'}}
    </div>
    <div class="alert alert-warning fade show" role="alert" *ngIf="testTaxe()">
        <i class="fas fa-exclamation-triangle"></i> Expiration Des Taxes Du Vehicule Le: {{vehicule.datetaxe | date:'dd-MM-y'}}
    </div>
    <div class="alert alert-warning fade show" role="alert" *ngIf="testConsommation()">
        <i class="fas fa-exclamation-triangle"></i> Consommation Actuelle Anormale: {{(((vehicule.consommation/vehicule.prixcarburant)/vehicule.distanceparcourie)*100).toFixed(2)}}
    </div>
</div>


<div  class="position-relative form-group container"></div>
