.mat-badge-content {
    width: 12px;
    height: 12px;
    text-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    
  }
  .custom-width {
    width: 30%;
  }
  .disponible{
    color: #4BB543;
  }
  .enMission{
    color: #f7b924;
  }
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  .indisponible{
    background: #dddddd;
  }