<div class="app-page-title">
   <div class="page-title-wrapper">
      <div class="page-title-heading">
         <div class="page-title-icon">
            <i class="fas fa-truck-loading text-success"></i>
         </div>
         Plan de chargement
      </div>
   </div>
</div>
<!-- table de selection du mission -->
<div class="main-card mb-3 card">
   <div class="card-body">
      <!-- section des filtres -->
      <div>
         <section>
            <mat-form-field class="filtres" [formGroup]="form">
               <mat-label>Filtre Chauffeur</mat-label>
               <input matInput placeholder="Nom" formControlName="nom" (keyup)="filtrerMission()" id="nom"
                  (focus)="nomFiltre = true">
               <button mat-button matSuffix mat-icon-button aria-label="Filtre" (click)="viderNom()">
                  <i class="fa fa-filter" aria-hidden="true"></i>
               </button>
            </mat-form-field>
            <mat-form-field class="filtres" [formGroup]="form">
               <mat-label>Filtre Matricule</mat-label>
               <input matInput placeholder="Matricule" formControlName="matricule" (keyup)="filtrerMission()"
                  (focus)="matriculeFiltre = true">
               <button mat-button matSuffix mat-icon-button aria-label="Filtre" (click)="viderMatricule()">
                  <i class="fa fa-filter" aria-hidden="true"></i>
               </button>
            </mat-form-field>
            <mat-form-field class="filtres">
               <mat-label>Filtre Etat Mission</mat-label>
               <mat-select [(value)]="filtreEtatMission" (selectionChange)="etatMissionFiltre= true; filtrerMission();">
                  <mat-option></mat-option>
                  <mat-option value="En attente">En attente</mat-option>
                  <mat-option value="En Cours">En Cours</mat-option>
                  <mat-option value="Terminée">Terminée</mat-option>
               </mat-select>
            </mat-form-field>
            <div class="filtre-date">
               <button mat-icon-button (click)="datePrecedente()" [disabled]="!check">
                  <mat-icon>navigate_before</mat-icon>
               </button>
               <mat-form-field [formGroup]="form">
                  <input matInput [matDatepicker]="picker" formControlName="dateL" (dateChange)="filtrerMission()"
                     (focus)="picker.open()">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
               </mat-form-field>
               <button mat-icon-button (click)="dateSuivante()" [disabled]="!check">
                  <mat-icon>navigate_next</mat-icon>
               </button>
            </div>
            <mat-checkbox class="ml-3" color="primary" [checked]="check" value="true"
               (change)="check=!check; filtrerMission(); disableEnableDate()">
               Filtrer Par Date
            </mat-checkbox>
         </section>
      </div>
      <div>
         <mat-table [dataSource]="dataSource" matSort>

            <!-- Position Column -->
            <ng-container matColumnDef="id">
               <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
               <mat-cell *matCellDef="let element" data-label="Id"> {{element.id}} </mat-cell>
            </ng-container>

            <!-- Colonne Nom -->
            <ng-container matColumnDef="nom">
               <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
                  Chauffeur
               </mat-header-cell>
               <mat-cell mat-cell *matCellDef="let element" data-label="Chauffeur">
                  {{element.nomChauffeur}}
               </mat-cell>
            </ng-container>

            <!-- Colonne Matricule -->
            <ng-container matColumnDef="matricule">
               <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
                  Matricule
               </mat-header-cell>
               <mat-cell mat-cell *matCellDef="let element" data-label="Matricule">
                  {{element.matricule}}
               </mat-cell>
            </ng-container>

            <!-- Colonne Date -->
            <ng-container matColumnDef="dateLivraison">
               <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Date de Livraison </mat-header-cell>
               <mat-cell mat-cell *matCellDef="let element" data-label="Date de Livraison"> {{element.date |
                  date:'dd-MM-yyyy'}} </mat-cell>
            </ng-container>

            <!-- Colonne etat -->
            <ng-container matColumnDef="etatMission">
               <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="ml-1"> Etat Mission
               </mat-header-cell>
               <mat-cell mat-cell *matCellDef="let element" data-label="Etat Mission">
                  <p class="accorde" *ngIf="element.etat === 'En attente'">En attente</p>
                  <p class="attente" *ngIf="element.etat === 'En cours'">En cours</p>
                  <p class="termine" *ngIf="element.etat === 'Terminée'">Terminée</p>
               </mat-cell>
            </ng-container>

            <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectionnerMission(row)">
            </mat-row>
         </mat-table>


         <mat-paginator [pageSizeOptions]="[10, 30, 50]" showFirstLastButtons></mat-paginator>
      </div>
   </div>
</div>

<div class="vehicule" id="vehicule" [@statusVehicule]="statusVehicule">
   <!-- legend -->
   <div class="legend" id="legend">
      <div cdkDropList class="drag-drop" (cdkDropListDropped)="drop($event)" *ngIf="dragDropeActive">
         <div class="drag-drop-box" *ngFor="let commande of listeCommandes; let last = last" cdkDrag
            cdkDragLockAxis="y">
            <div class="drag-drop-handle" cdkDragHandle>
               <div [style.background-color]="commande.couleur" style="height: 14px; width: 14px;"></div>
               <div class="position">
                  {{commande.nomClient}}: {{commande.adresse}}, {{commande.ville}}.
               </div>
            </div>
         </div>
      </div>
      <div class="drag-drop" *ngIf="!dragDropeActive">
         <div class="drag-drop-box" *ngFor="let commande of listeCommandes; let last = last">
            <div class="drag-drop-handle-desactive">
               <div [style.background-color]="commande.couleur" style="height: 14px; width: 14px;"></div>
               <div class="position">
                  {{commande.nomClient}}: {{commande.adresse}}, {{commande.ville}}.
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- image tête camion -->
   <img src="assets\images\Layer 0.png">
   <!-- container des canvas -->
   <div class="container" id="container">
      <div id="canva">
         <div class="selecteur" *ngFor="let ligne of lignes; let i = index" [style.width.px]="ligne.largeur"
            [style.height.px]="ligne.longueur" [style.top.px]="ligne.top" [style.left.px]="0"
            (click)="indexLigne = i; changerLigne()"></div>
         <div id="vueTop">
         </div>
         <div class="label">Vue de top</div>
         <div id="vueLigne"></div>
         <div class="label">Vue de face</div>
      </div>
   </div>
   <!-- panneau d'ajout manuel -->
   <div *ngIf="vehicule && missionEstEnAttente && this.tms >= 2" class="panneau-ajout-manuel">
      <div class="resizer-top" (mousedown)="setStatus($event, 'RESIZETOP')" (window:mouseup)="setStatus($event, 'OFF')">
      </div>
      <div style="display: flex; flex-direction: row;">
         <div class="ajout-manuel card" [style.height.px]="height" #box [style.width.px]="width">
            <mat-form-field class="select-commande">
               <mat-label>Commande</mat-label>
               <mat-select [(value)]="commandeModeManuelSelectionne">
                  <mat-option *ngFor="let commande of listeCommandesModeManuel" [value]="commande">
                     {{commande.nomClient}}: {{commande.adresse}}, {{commande.ville}}
                  </mat-option>
               </mat-select>
            </mat-form-field>
            <div *ngIf="commandeModeManuelSelectionne" id="liste-objets" class="scrollbar">
               <div *ngFor="let obj of commandeModeManuelSelectionne.articles"
                  style="display: flex; align-items: center;">
                  {{obj.emballage}}: {{obj.nombrePack}} x 
                  <div [style.width.px]="obj.largeur" [style.height.px]="obj.hauteur"
                     [style.background]="commandeModeManuelSelectionne.couleur" class="objet"
                     (click)="ajouterColisManuellement(obj)">{{obj.num}}</div>
               </div>
            </div>
            <button mat-raised-button color="primary" style="margin-top: auto;"
               (click)="ajouterNouvelleLigne()">nouvelle
               ligne</button>
            <button mat-raised-button color="warn" style="margin-top: 5px;" (click)="supprimerLigne()">
               <mat-icon style="transform: scale(0.7);">delete</mat-icon>supprimer dernière ligne
            </button>
         </div>
         <div class="resizer-right" [style.height.px]="vehicule.hauteur * 2.7"
            (mousedown)="setStatus($event, 'RESIZERIGHT')" (window:mouseup)="setStatus($event, 'OFF')"></div>
      </div>
   </div>
   <div class="card note" [@statusNote]="statusNote">
      <ng-container *ngIf="note === '' ; else elseTemplate">
         <div style="width: 100%; text-align: center; color: lightgray;">Pas de note!</div>
      </ng-container>
      <ng-template #elseTemplate>
         {{note}}
      </ng-template>
   </div>
   <!-- boite a outils -->
   <div class="boite-outils card">
      <button mat-button (click)="viderCanvas()" matTooltip="Vider le vehicule" matTooltipPosition="above"
         matTooltipShowDelay="1000" [disabled]="!missionEstEnAttente || this.tms < 2">Vider</button>
      <button mat-button (click)="createPlanChargementAuto()" matTooltip="Réaliser Plan chargement automatiquement"
         matTooltipPosition="above" matTooltipShowDelay="1000"
         [disabled]="!missionEstEnAttente || this.tms < 2">Auto</button>
      <button mat-button (click)="rotation(90)" matTooltip="Rotation vers la droite" matTooltipPosition="above"
         matTooltipShowDelay="1000" [disabled]="!missionEstEnAttente || this.tms < 2">
         <mat-icon>rotate_90_degrees_cw</mat-icon>
      </button>
      <button mat-button (click)="rotation(-90)" matTooltip="Rotation vers la gauche" matTooltipPosition="above"
         matTooltipShowDelay="1000" [disabled]="!missionEstEnAttente || this.tms < 2">
         <mat-icon>rotate_90_degrees_ccw</mat-icon>
      </button>
      <button mat-button (click)="supprimerObjet()" matTooltip="Supprimer un article" matTooltipPosition="above"
         matTooltipShowDelay="1000" [disabled]="!missionEstEnAttente || this.tms < 2">
         <mat-icon>delete</mat-icon>
      </button>
      <button mat-button (click)="enregistrer()" matTooltip="Enregistrer" matTooltipPosition="above"
         matTooltipShowDelay="1000" [disabled]="(!missionEstEnAttente || this.tms < 2) || enregistrementEnCours">
         <mat-icon *ngIf="!enregistrementEnCours">save
         </mat-icon>
         <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
            *ngIf="enregistrementEnCours"></span>
      </button>
      <button mat-button (click)="charger()" matTooltip="Actualiser" matTooltipPosition="above"
         matTooltipShowDelay="1000" [disabled]="!missionEstEnAttente || this.tms < 2">
         <mat-icon>refresh</mat-icon>
      </button>
      <button mat-button (click)="noteEstAffiche = !noteEstAffiche" matTooltip="Afficher note"
         matTooltipPosition="above" matTooltipShowDelay="1000">
         <mat-icon matBadge="1" matBadgeColor="warn" [matBadgeHidden]="note === ''">sticky_note_2</mat-icon>
      </button>
   </div>
</div>