a {
    border: none;
    padding: 0;
    text-decoration: none;
    border-radius: 10%;
}
img {
    width: 15vw;
    padding-top: -10%;
    border-radius: 10%;
    box-shadow: 15px 15px 15px grey;
}
.menu-parc{
    display: flex;
    align-items: center;
    justify-content: center;
}
.milieu{
    margin-left: 5%;
    margin-right: 5%;
}