<div>
    <div class="menu-parc">
        <div class="inline">
            <a routerLink="/Menu/TMS/Vehicules"><img src="../../../assets/images/parking.jpg" />
                <h2>Vehicules</h2>
            </a>

        </div>


        <div class="inline">
            <a routerLink="/Menu/TMS/Chauffeurs"><img src="../../../assets/images/chauffeur.jpg" />
                <h2>Chauffeurs</h2>
            </a>
        </div>


        <div class="inline">
            <a routerLink="/Menu/TMS/Missions"><img src="../../../assets/images/mission.jpg" />
                <h2>Missions</h2>
            </a>

        </div>

    </div>
</div>