//changement style scroll bar
::-webkit-scrollbar {
  width: 2.5px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.mat-table {
  width: 100%;
  max-height: 45vh;
  overflow-y: auto;
}
:host ::ng-deep .mat-sort-header-content {
  text-align: left;
}

// style des filtres
.filtres {
  padding: 0 24px;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

// width des inputs du filtre
.custom-width {
  width: 100%;
  padding-right: 10px;
}
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .filtres {
    left: 0;
    padding: 15px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  * {
    font-size: 12px;
  }
  .mat-table {
    max-height: none;
    overflow-y: auto;
  }
  .mat-table {
    border: 0;
    vertical-align: middle;
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
    min-height: auto;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height: auto;
    margin-bottom: 4%;
    padding-right: 5%;
    padding-bottom: 4%;
  }
  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    margin-left: 5%;

    font-size: 0.85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
  .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
  .mat-table .mat-cell:last-of-type {
    padding-right: 5%;
  }
  .mat-table .mat-cell:first-of-type {
    padding-left: 0;
  }
  .mat-table .mat-header-cell {
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .mat-header-row {
    min-height: 0;
  }
}
