<div>
    <div class="menu-parc">
        <div class="inline">
            <a routerLink="/Menu/TMS/Parc/Vehicules"><img src="../../../assets/images/TMS/menu-parc/parking.jpg" />
                <h2>Vehicules</h2>
            </a>

        </div>


        <div class="inline">
            <a routerLink="/Menu/TMS/Parc/Chauffeurs/liste-chauffeur"><img src="../../../assets/images/TMS/menu-parc/chauffeur.jpg" />
                <h2>Chauffeurs</h2>
            </a>
        </div>


        <div class="inline">
            <a routerLink="/Menu/TMS/Parc/Missions"><img src="../../../assets/images/TMS/menu-parc/missions.jpg" />
                <h2>Missions</h2>
            </a>

        </div>

    </div>
</div>