h1 {
  text-align: center;
  font-size: 40px;
  padding: 55px 0;
}

.form {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr;
  align-items: center;
  text-align: center;
}
.mat-form-field {
  width: 70%;
}

//pour mobile
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .form {
    padding: 0px;
    grid-template-columns: 1fr;
    align-items: initial;
    text-align: initial;
  }
  .mat-form-field {
    width: 100%;
  }
}
