<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-config text-success">
                </i>
            </div>
            Suivi Des Commandes
        </div>
    </div>
</div>
<div class="contenaire">
    <div class="card menu-config">
        <a role="button">Général</a>
        <a role="button">Position</a>
        <a role="button">Commande</a>
    </div>
    <div class = "contenu-config">
        <div class="card test-config">
            <app-configuration-generale></app-configuration-generale>
        </div>
    </div>
</div>
  
