.contenaire {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.menu-config {
  padding: 20px;
  width: 100%;
  height: 192px;
  display: flex;
  flex-direction: column;
}

a {
  padding: 15px;
  font-size: large;
}
a:not(:last-child) {
  border-bottom: 1px solid #dddfe3;
}
a:hover {
  background-color: #dddfe3;
  cursor: pointer;
}
a:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

a:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.contenu-config {
  width: 100%;
}

.test-config {
  padding: 20px;
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .contenaire {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 20px;
      }
      .menu-config {
        padding: 20px;
        width: 250px;
        height: 192px;
        display: flex;
        flex-direction: column;
      }
    
      a {
        padding: 15px;
        font-size: large;
      }
      a:not(:last-child) {
        border-bottom: 1px solid #dddfe3;
      }
      a:hover {
        background-color: #dddfe3;
        cursor: pointer;
      }
      a:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    
      a:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    
      .contenu-config {
        width: calc(100% - 270px);
      }
    
      .test-config {
        padding: 20px;
      }
}