<h1 mat-dialog-title>Créer Nouvelle Mission </h1>
<div mat-dialog-content class="scrollbar scrollbar-primary">
    <form [formGroup]="form" novalidate>
        <div class="position-relative form-group">
            <mat-form-field class="full-width">
                <mat-label>Vehicule</mat-label>
                <mat-select name="matricule" id="matricule" [(value)]="vehiculeSelectionnee"
                    (selectionChange)="this.vehiculeSelectionne=false;"
                    formControlName="vehicule">
                    <mat-option *ngFor="let v of vehicules" [value]="v">
                        {{v.matricule}}
                    </mat-option>
                    <mat-option>
                        <a style="width: auto; display: block;">+ Ajouter</a>
                     </mat-option>
                </mat-select>
                <mat-error *ngIf="form.controls['vehicule'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="position-relative form-group">
            <mat-form-field class="full-width">
                <mat-label>Chauffeur</mat-label>
                <mat-select name="chauffeur" id="chauffeur" [(value)]="chauffeurSelectionne"
                    (selectionChange)="this.chauffeurSelectionne=false;"
                    formControlName="chauffeur">
                    <mat-option *ngFor="let c of employes" [value]="c">
                        {{c.nom}}
                    </mat-option>
                    <mat-option>
                        <a style="width: auto; display: block;">+ Ajouter</a>
                     </mat-option>
                </mat-select>
                <mat-error *ngIf="form.controls['vehicule'].hasError('required')">
                    Champ <strong>Obligatoire</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions class="float-right form-group">
    <button mat-button color="warn" class="mb-2" (click)="this.dialogRef.close();">Annuler</button>
    <button mat-button color="primary" class="mb-2 mr-4" [disabled]="(form.invalid || (lat === 0 && lng === 0))">Enregistrer</button>
</div>