<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h3>Commandes Non Affectées</h3>
            <div class="cadre">
                <mat-selection-list #commandesNonAffecte color="primary" [(ngModel)]="commandesNonAffecteSelectionne">
                    <mat-list-option value="C1">
                        C1
                    </mat-list-option>
                    <mat-list-option value="C2">
                        C2
                    </mat-list-option>
                    <mat-list-option value="C3">
                        C3
                    </mat-list-option>
                    <mat-list-option value="C4">
                        C4
                    </mat-list-option>
                    <mat-list-option value="C5">
                        C5
                    </mat-list-option>
                    <mat-list-option value="C6">
                        C6
                    </mat-list-option>
                    <mat-list-option value="C7">
                        C7
                    </mat-list-option>
                    <mat-list-option value="C8">
                        C8
                    </mat-list-option>
                    <mat-list-option value="C9">
                        C9
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
        <div class="col-sm">
            <h3>Vehicules</h3>
            <div class="cadre">
                <mat-selection-list #Vehicules>
                    <mat-list-option>
                        Vehicule 1
                    </mat-list-option>
                    <mat-list-option>
                        Vehicule 2
                    </mat-list-option>
                    <mat-list-option>
                        Vehicule 3
                    </mat-list-option>
                    <mat-list-option>
                        Vehicule 4
                    </mat-list-option>
                    <mat-list-option>
                        Vehicule 5
                    </mat-list-option>
                    <mat-list-option>
                        Vehicule 6
                    </mat-list-option>
                    <mat-list-option>
                        Vehicule 7
                    </mat-list-option>
                    <mat-list-option>
                        Vehicule 8
                    </mat-list-option>
                    <mat-list-option>
                        Vehicule 9
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm ">
            <h3>Nord-Est</h3>
            <div class="cadre2">
                <mat-selection-list #commandes color="primary">
                    <mat-list-option *ngFor="let commande of commandesNordEst" [value]="commande">
                        <span style="font-weight: bold; margin-right: 3px;">Réf:</span>
                        {{commande.type === "Facture" ? "F-" + commande.id_Facture : "BL-" + commande.id_BL}} &nbsp;
                        <span style="font-weight: bold; margin-right: 3px;">Client:</span> {{commande.nom_Clt}} &nbsp;
                        <span style="font-weight: bold; margin-right: 3px;">Ville:</span> {{commande.ville}}
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
        <div class="col-sm">
            <h3>Nord-Ouest</h3>
            <div class="cadre2">
                <mat-selection-list #commandes color="primary">
                    <mat-list-option *ngFor="let commande of commandesNordOuest" [value]="commande">
                        <span style="font-weight: bold; margin-right: 3px;">Réf:</span>
                        {{commande.type === "Facture" ? "F-" + commande.id_Facture : "BL-" + commande.id_BL}} &nbsp;
                        <span style="font-weight: bold; margin-right: 3px;">Client:</span> {{commande.nom_Clt}} &nbsp;
                        <span style="font-weight: bold; margin-right: 3px;">Ville:</span> {{commande.ville}}
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm" id="col-sm">
            <h3>Centre-Est</h3>
            <div class="cadre2">
                <mat-selection-list #commandes color="primary">
                    <mat-list-option *ngFor="let commande of commandesCentreEst" [value]="commande">
                        <span style="font-weight: bold; margin-right: 3px;">Réf:</span>
                        {{commande.type === "Facture" ? "F-" + commande.id_Facture : "BL-" + commande.id_BL}} &nbsp;
                        <span style="font-weight: bold; margin-right: 3px;">Client:</span> {{commande.nom_Clt}} &nbsp;
                        <span style="font-weight: bold; margin-right: 3px;">Ville:</span> {{commande.ville}}
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
        <div class="col-sm">
            <h3>Centre-Ouest</h3>
            <div class="cadre2">
                <mat-selection-list #commandes color="primary">
                    <mat-list-option *ngFor="let commande of commandesCentreOuest" [value]="commande">
                        <span style="font-weight: bold; margin-right: 3px;">Réf:</span>
                        {{commande.type === "Facture" ? "F-" + commande.id_Facture : "BL-" + commande.id_BL}} &nbsp;
                        <span style="font-weight: bold; margin-right: 3px;">Client:</span> {{commande.nom_Clt}} &nbsp;
                        <span style="font-weight: bold; margin-right: 3px;">Ville:</span> {{commande.ville}}
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h3>Sud-Est</h3>
            <div class="cadre2">
                <mat-selection-list #commandes color="primary">
                    <mat-list-option *ngFor="let commande of commandesSudEst" [value]="commande">
                        <span style="font-weight: bold; margin-right: 3px;">Réf:</span>
                        {{commande.type === "Facture" ? "F-" + commande.id_Facture : "BL-" + commande.id_BL}} &nbsp;
                        <span style="font-weight: bold; margin-right: 3px;">Client:</span> {{commande.nom_Clt}} &nbsp;
                        <span style="font-weight: bold; margin-right: 3px;">Ville:</span> {{commande.ville}}
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
        <div class="col-sm" id="col-sm">
            <h3>Sud-Ouest</h3>
            <div class="cadre2">
                <mat-selection-list #commandes color="primary">
                    <mat-list-option *ngFor="let commande of commandesSudOuest" [value]="commande">
                        <span style="font-weight: bold; margin-right: 3px;">Réf:</span>
                        {{commande.type === "Facture" ? "F-" + commande.id_Facture : "BL-" + commande.id_BL}} &nbsp;
                        <span style="font-weight: bold; margin-right: 3px;">Client:</span> {{commande.nom_Clt}} &nbsp;
                        <span style="font-weight: bold; margin-right: 3px;">Ville:</span> {{commande.ville}}
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
    </div>
</div>