.custom-width {
  width: 15%;
  margin: 0 0.3%;
}
.custom-width2 {
  width: 25%;
}
table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
.row {
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
.attente {
  color: #f7b924;
  margin-left: 21%;
}
.termine {
  color: #4bb543;
  margin-left: 20%;
}
.accorde {
  color: #3f6ad8;
  margin-left: 21%;
}
.qr {
  color: #575757;
  margin-left: 21%;
}
