<h2>Information Générale</h2>
<div [formGroup]="formConfigurationInformationsGeneral">
    <div class="champ">
        <h3>Nom de la société</h3>
        <div class="input">
            <input type="text" formControlName="nomSociete">
            <div *ngIf="(nomSociete.invalid && nomSociete.touched) || nomSociete.dirty" class="erreur">
                <small *ngIf="nomSociete.errors?.required" class="text-danger" [@enterAnimation]>le nom de la société est requis</small>
            </div>
        </div>
    </div>
    <div class="champ">
        <h3>Numéro de téléphone</h3>
        <div class="input">
            <input type="tel" formControlName="numeroTelephone">
            <div *ngIf="(numeroTelephone.invalid && numeroTelephone.touched) || numeroTelephone.dirty" class="erreur">
                <small *ngIf="numeroTelephone.errors?.required" class="text-danger" [@enterAnimation]>le numéro de téléphone est
                    requis</small>
                <small *ngIf="numeroTelephone.errors?.pattern" class="text-danger" [@enterAnimation]>Veuillez fournir un numéro de
                    téléphone valide</small>
            </div>
        </div>
    </div>
    <div class="champ">
        <h3>Adresse mail</h3>
        <div class="input">
            <input type="email" formControlName="adresseEmail">
            <div *ngIf="(email.invalid && email.touched) || email.dirty" class="erreur">
                <small *ngIf="email.errors?.required" class="text-danger" [@enterAnimation]>L'adresse e-mail est requise</small>
                <small *ngIf="email.errors?.pattern" class="text-danger" [@enterAnimation]>Veuillez fournir une adresse email
                    valide</small>
            </div>
        </div>
    </div>
</div>

<div class="boutons">
    <button mat-raised-button color="primary"
        [disabled]="formConfigurationInformationsGeneral.invalid"
        (click)="enregistrer()">Enregistrer</button>
</div>