<div *ngIf="false">
    <h1 mat-dialog-title>Affecter des chauffeurs</h1>
    <div class="container">
        <div [formGroup]="form">
            <div class="inline-flex" *ngIf="couplesVehiculeChauffeursPrives.length > 0">
                <p>Vehicule privé</p>
                <p>Chauffeur</p>
            </div>
            <div formArrayName="chauffeurs">
                <div class="inline-flex" *ngFor="let couple of couplesVehiculeChauffeursPrives; let i=index"
                    [formGroupName]="i">
                    <p>{{couple.vehicule.matricule}}</p>
                    <mat-form-field appearance="fill">
                        <mat-select placeholder="Chauffeur" name="chauffeur" formControlName="chauffeur"
                            (selectionChange)="rafraichirListeChauffeur()">
                            <mat-option *ngFor="let chauffeur of couple.chauffeurs" [value]="chauffeur">
                                {{chauffeur.nom}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="inline-flex" *ngIf="vehiculesLoues.length > 0">
                <p>Vehicule loué</p>
                <p>Chauffeur</p>
            </div>
            <div formArrayName="chauffeursLoues">
                <div class="inline-flex" *ngFor="let vehicule of vehiculesLoues; let i=index" [formGroupName]="i">
                    <p>{{vehicule.matricule}}</p>
                    <mat-form-field appearance="fill">
                        <input matInput type="text" placeholder="Nom chauffeur" name="chauffeurLoue"
                            formControlName="chauffeurLoue">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close color="warn" style="margin-left: auto;">Annuler</button>
        <button mat-raised-button color="primary" cdkFocusInitial (click)="valider()">Ok</button>
    </div>
</div>



<div *ngIf="true" style="height: 500px; width: 100%; display: flex; position: relative">
    <div class="liste-commandes">
        <ul>
            <li class="list" *ngFor="let commande of data.mission; let i = index;" [attr.data-selected]="false"
                [class.active]="commandeActive[i]">
                <a role="button" (click)="changerCommandeActive(i); choisirCommande(commande)">commande
                    {{commande.id}}</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="container-colis">
            <h2>Colis</h2>
            <div class="info-commande">
                <div class="poids">Poids commande: {{commandeSelectionne.poids}}kg</div>
                <div class="volume">Volume commande: {{commandeSelectionne.volume}}m³</div>
            </div>
            <div class="liste-colis scrollbar">
                <ul>
                    <li class="list" *ngFor="let colis of listeColis">
                        <a role="button" style="display: flex;"
                            (click)="ajouterCommandeAuVehicule(colis);">{{colis.emballage}} <span
                                style="margin-left: auto; margin-right: 10px;">quantité {{colis.nombrePack}}</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-vehicule">
            <div class="chauffeur">
                <i class="fas fa-user"></i>
                <mat-form-field *ngIf="typeVehicule === 'prive'">
                    <mat-label>Chauffeur</mat-label>
                    <mat-select placeholder="Chauffeur" name="chauffeur" (selectionChange)="rafraichirListeChauffeur()"
                        [(ngModel)]="couplesVehiculeChauffeurPrive[index].chauffeur">
                        <mat-option *ngFor="let chauffeur of vehiculeChauffeurs.chauffeurs" [value]="chauffeur">
                            {{chauffeur.nom}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="typeVehicule === 'loue'">
                    <mat-label>Chauffeur</mat-label>
                    <input matInput placeholder="nom chauffeur"
                        [(ngModel)]="this.couplesVehiculeChauffeurLoue[index - this.couplesVehiculeChauffeursPrives.length].chauffeur">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
            </div>
            <div class="info-vehicule"
                *ngIf="couplesVehiculeChauffeurPrive[index] || couplesVehiculeChauffeurLoue[index - this.couplesVehiculeChauffeursPrives.length]">
                <div class="poids"><b>Charge vehicule: </b> {{poidsVehicule}}kg</div>
                <div class="volume"><b>Volume vehicule: </b> {{volumeVehicule}}m³</div>
            </div>
            <div class="commandes"
                *ngIf="couplesVehiculeChauffeurPrive[index] || couplesVehiculeChauffeurLoue[index - this.couplesVehiculeChauffeursPrives.length]">
                <div class="entete">
                    <h2>Commandes</h2>
                    <div class="poids"><b>poids: </b>{{poidsCommandes}}kg</div>
                    <div class="volume"><b>volume: </b>{{volumeCommandes}}m³</div>
                </div>
                <div class="liste-commande scrollbar">
                    <ul>
                        <li class="list" *ngFor="let commande of listeCommandes">
                            <div style="display: flex; align-items: center;" *ngIf="!commandeDansVehiculeSelectionne">
                                <a role="button" 
                                    (click)="afficherListeColis(commande.commande); choisirCommande(commande.commande)">Commande: {{commande.commande.id}}</a>
                                <button mat-icon-button><mat-icon style="color: tomato;">delete</mat-icon></button>
                            </div>
                            <div class="colis scrollbar" [@statusDetailCommande]="statusDetailCommande"
                                *ngIf="commandeDansVehiculeSelectionne && commandeDansVehiculeSelectionne.id === commande.commande.id">
                                <div class="entete">
                                    <h3>Commande {{commande.commande.id}}</h3>
                                    <mat-icon class="close" (click)="boutonFermerListeColis()">close</mat-icon>
                                </div>
                                <div class="contenue">
                                    <ul>
                                        <li class="list" *ngFor="let colis of commande.colis">
                                            <div>{{colis.emballage}}</div>
                                            <div class="qte">
                                                <button style="margin-left: auto;" (click)="augmenterQte(colis)">
                                                    <mat-icon>add</mat-icon>
                                                </button>
                                                <input type="number" [(ngModel)]="colis.nombrePack" min="1"
                                                    (keyup)="changerQteNonAffectee(colis)">
                                                <button (click)="diminuerQte(colis)">
                                                    <mat-icon>remove</mat-icon>
                                                </button>
                                                <button><mat-icon style="color: tomato;">delete</mat-icon></button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="liste-vide" *ngIf="listeCommandes.length === 0">Vide</div>
                </div>
            </div>
        </div>
    </div>
    <div class="liste-vehicules">
        <ul>
            <li class="list" *ngFor="let vehicule of vehiculesTot; let i=index" [attr.data-selected]="false"
                [class.active]="vehiculeActive[i]">
                <a role="button"
                    (click)="changerVehiculeActive(i); choisirVehicule(i); boutonFermerListeColis()"><span>{{vehicule.matricule}}</span></a>
            </li>
        </ul>
        <div class="valider">
            <a role="button" [ngClass]="{'active': toutValide}"
                *ngIf="listeColisTot && couplesVehiculeChauffeurPrive && couplesVehiculeChauffeurLoue" (click)="valider()">Valider</a>
        </div>
    </div>
</div>