<h1 mat-dialog-title>Affecter des chauffeurs</h1>
<div class="container">
    <div [formGroup]="form">
        <div class="inline-flex">
            <p>Vehicule privé</p>
            <p>Chauffeur</p>
        </div>
        <div formArrayName="chauffeurs">
            <div class="inline-flex" *ngFor="let couple of couplesVehiculeChauffeursPrives; let i=index" [formGroupName]="i">
                <p>{{couple.vehicule.matricule}}</p>
                <mat-form-field appearance="fill">
                    <mat-select placeholder="Chauffeur" name="chauffeur" formControlName="chauffeur"
                        (selectionChange)="rafraichirListeChauffeur()">
                        <mat-option *ngFor="let chauffeur of couple.chauffeurs" [value]="chauffeur">
                            {{chauffeur.nom}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="inline-flex">
            <p>Vehicule loué</p>
            <p>Chauffeur</p>
        </div>
        <div formArrayName="chauffeursLoues">
            <div class="inline-flex" *ngFor="let vehicule of vehiculesLoues; let i=index" [formGroupName]="i">
                <p>{{vehicule.matricule}}</p>
                <mat-form-field appearance="fill">
                    <input matInput type="text" placeholder="Nom chauffeur" name="chauffeurLoue" formControlName="chauffeurLoue">
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close color="warn" style="margin-left: auto;">Annuler</button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="valider()">Ok</button>
</div>