<h1 mat-dialog-title>Informations du mission</h1>
<!-- Info Chauffeur -->
<h2>Informations du chauffeur</h2>
<div [ngClass]="chauffeurs.length === 1 ? 'container-info-chauffeur' : 'container-info-chauffeurs'">
    <div class="card info-chauffeur" style="height: 100%;" *ngFor="let chauffeur of chauffeurs; let i=index;">
        <div class="row">
            <div class="col-4 image" style="padding: 0">
                <img src="data:image/png;base64,{{chauffeur.image}}" alt="Photo du chauffeur" width="76%" height="76%">
            </div>
            <div class="col info">
                <div class="row">
                    <div class="col">
                        <h5>Nom: <span style="font-weight: bold;"> {{chauffeur.nom}}
                            </span></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5>N° de Téléphone: <span style="font-weight: bold;">
                                +{{chauffeur.tel}} </span></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5>Matricule Du Vehicule: <span style="font-weight: bold;">{{matricule[i]}} </span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- INFO MISSION -->
<h2>Informations supplémentaire du mission</h2>
<div class="card pt-3">
    <div class="container-info-mission">
        <p>Nombre des commandes: </p>
        <p style="font-weight: bold;"> {{nbrCommandes}} </p>
        <p>Poids: </p>
        <p style="font-weight: bold;"> {{poidsMission}}Kg </p>
        <p>Volume: </p>
        <p style="font-weight: bold;"> {{volumeMission}}m³ </p>
        <p>Date de debut: </p>
        <p style="font-weight: bold;"> {{date_creation | date:"dd-MM-yyyy"}} </p>
        <p>Date de cloture: </p>
        <p style="font-weight: bold;"></p>
    </div>
</div>

<!-- Liste Des Commandes -->
<h2>Liste des commandes</h2>
<table class="table">
    <tbody>
        <tr *ngFor="let commande of commandes" class="card">
            <td scope="row">
                <div style="width: 100%; display: flex; align-items: center;">
                    <h3 (click)="ouvrirDetailCommande(commande.id)" style="text-transform: uppercase;">{{commande.type}} numéro {{commande.referenceDocument}}</h3>
                    <button mat-icon-button style="margin-left: auto; color: tomato;" class="position" (click)="ouvrirMap(commande)">
                        <mat-icon>place</mat-icon>
                    </button>
                </div>
                <div class="container-commande" (click)="ouvrirDetailCommande(commande.id)">
                    <p>
                        Client:
                    </p>
                    <p style="font-weight: bold;">
                        {{commande.nomClient}}
                    </p>
                    <p>
                        Ville:
                    </p>
                    <p style="font-weight: bold;">
                        {{commande.ville}}
                    </p>
                    <p>
                        Adresse de livraison: &nbsp;
                    </p>
                    <p style="font-weight: bold;">
                        {{commande.adresse}}
                    </p>
                    <p>
                        Contact: &nbsp;
                    </p>
                    <p style="font-weight: bold;">
                        {{commande.contact}}
                    </p>
                    <p>
                        Téléphone: &nbsp;
                    </p>
                    <p style="font-weight: bold;">
                        {{commande.telephone}}
                    </p>
                    <p>
                        Date: &nbsp;
                    </p>
                    <p style="font-weight: bold;">
                        {{commande.dateCreation | date:'dd-MM-yyyy'}}
                    </p>
                    <p>
                        Volume:
                    </p>
                    <p style="font-weight: bold;">
                        {{commande.volume}}m³
                    </p>
                    <p>
                        Poids:
                    </p>
                    <p style="font-weight: bold;">
                        {{commande.poids}}Kg
                    </p>
                    <p>
                        Tracking num:
                    </p>
                    <p style="font-weight: bold;">
                        {{commande.trackingNumber}}
                    </p>
                    <p>
                        Etat :
                    </p>
                    <div style="font-weight: bold;">
                        <p class="attente" *ngIf="commande.etat === 'Affectée'">En cours de livraison</p>
                        <p class="termine" *ngIf="commande.etat === 'Done'">Livrée</p>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>