table {
    width: 100%;
    overflow-x: scroll !important; 

}

.mat-column-id,
.mat-column-idProduit{
    width: 3%;
    text-align: center;
}


.mat-column-typeEmballage,
.mat-column-qte
.mat-column-nomProduit,
.mat-column-unite,
.mat-column-categorie {
    width: 14.28%;
    text-align: center;
}
:host ::ng-deep .mat-sort-header-container {
    justify-content: center;
    padding-left: 1.5em;
}
td {
    text-align: center;
}
.custom-width {
    width: 20%;
    margin: 0 0.3%;
  }
