table {
    width: 100%;
}
section {
    padding-bottom: 4em;
}
.mat-column-id,
.mat-column-idProduit,
.mat-column-typeEmballage,
.mat-column-qte {
    width: 25%;
    text-align: center;
}
:host ::ng-deep .mat-sort-header-container {
    justify-content: center;
    padding-left: 1.5em;
}
