<div class="card full-width">
    <h2>Score commande</h2>
    <div class="coefficients">
        <h3>Coefficients frais de transport</h3>
        <div class="modifier-coefficient">
            <h4>Taxe fixe</h4>
            <input type="number">
            <h4>Limite</h4>
            <input type="number">
            <h4>Unité limite</h4>
            <input type="number">
            <h4>Taxe supplimentaire</h4>
            <input type="number">
            <h4>Limite taxe supplimentaire</h4>
            <input type="number">
        </div>
    </div>
    <div class="boutons">
        <button mat-raised-button color="primary" disabled>Enregistrer</button>
    </div>
    <hr>
    <div class="coefficients">
        <h3>Coefficients formule de calcul du score</h3>
        <div class="modifier-coefficient">
            <h4>Client</h4>
            <input type="number">
            <h4>Frais de livraison</h4>
            <input type="number">
            <h4>Prix de la facture</h4>
            <input type="number">
            <h4>retard</h4>
            <input type="number">
        </div>
    </div>
    <div class="boutons">
        <button mat-raised-button color="primary" disabled>Enregistrer</button>
    </div>
</div>
