.container {
    max-width: 100%;
}
.cadre {
    margin-right: 0;
    margin-left: 0;
    margin-top: 15px;
    border: solid #f7f7f9;
    border-width: 0.2rem;
    border-radius: 0.3rem;
    height: 160px;
    overflow-y: auto;
    overflow-x: hidden;
}
.cadre2 {
    margin-right: 0;
    margin-left: 0;
    margin-top: 15px;
    border: solid #f7f7f9;
    border-width: 0.2rem;
    border-radius: 0.3rem;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

h3 {
    position: absolute;
    top: -11px;
    margin: 10px 0 0 10px;
    background: white;
    padding: 0 10px;
    z-index: 3;
    border-radius: 0.3rem;
}
::ng-deep .mat-list-base .mat-list-item .mat-list-text,
.mat-list-base .mat-list-option .mat-list-text {
    display: flex !important;
    flex-direction: row !important;
    font-size: 75% !important;
}
::ng-deep .mat-list-base {
    padding: 0 !important;
}
.entete {
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    position: sticky;
    z-index: 2;
    background: #f7f7f9;
    top: 0;
    text-align: right;
}
.contenu-list {
    position: relative;
    z-index: 1;
}
span {
    margin: 0 10px;
}
#nb-voyages {
    height: 20px;
    width: 40px;
    caret-color: transparent;
    border: 1px solid grey;
}
label {
    margin: 0;
    margin-right: 1%;
}
::ng-deep .mat-checkbox-layout {
    margin-bottom: 2.5px !important;
}

#separation {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #C5C5C5;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

#separation span {
    background:#fff; 
    padding:0 10px; 
}

//pour l'affichage mobile
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    .entete {
        font-size: 11px;
    }
}
