h1 {
    text-align: center;
    font-size: 40px;
    padding: 55px 0;
  }

  //grid produits
  .grid-produits {
    display: grid;
    grid-template-areas:
      "marque nom unite"
      "valeurUnite codeBarre poids"
      "longueur largeur hauteur"
      "volume . .";
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .marque {
    grid-area: marque;
  }
  .nom {
    grid-area: nom;
  }
  .unite {
    grid-area: unite;
  }
  .valeur-unite {
    grid-area: valeurUnite;
  }
  .longueuer {
    grid-area: longueur;
  }
  .largeur {
    grid-area: largeur;
  }
  .hauteur {
    grid-area: hauteur;
  }
  .volume {
    grid-area: volume;
  }
  .poids {
    grid-area: poids;
  }
  .code-barre{
    grid-area: codeBarre;
  }
  .full-width {
    //pour que les inputs prennent le width total du container
    width: 100%;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  //pour l'affichage mobile
  @media only screen and (max-width: 790px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
      h1 {
        text-align: center;
        font-size: 20px;
        padding: 25px 0;
      }
    .grid-produits {
      display: grid;
      grid-template-areas:
        "marque"
        "nom"
        "unite"
        "categorie"
        "carburant"
        "codeBarre"
        "valeurUnite"
        "longueur"
        "largeur"
        "hauteur"
        "volume"
        "poids";
      grid-column-gap: 0;
      grid-template-columns: 1fr;
    }
  }
  