<h1 mat-dialog-title>Modifier colisage</h1>
<div mat-dialog-content>
    <ng-template matStepLabel>Produits</ng-template>
    <div class="produits">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nom produit</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Type produit</th>
                    <th scope="col">Détails</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let article of listeArticlesDetail">
                    <th scope="row">{{article.id}}</th>
                    <td>{{article.nom}}</td>
                    <td>{{article.qte}}</td>
                    <td>{{article.type}}</td>
                    <td style="justify-content: center;">
                        <button mat-icon-button (click)="ouvrirBoiteDialogueDetailProduit(article)"
                            [disabled]="article.type === 'Produit simple'">
                            <mat-icon>list_alt</mat-icon>
                        </button>
                    </td>
                    <td><button mat-icon-button (click)="ouvrirBoiteDialogueEmballer(article)">
                            <i class="fas fa-box" style="color: #f7b91e;"
                                *ngIf="article.qteNonEmballe !== 0 && article.listeEmballageChoisi.length !== 0"
                                matTooltip="Emballage produit n'est pas terminé"></i>
                            <i class="fas fa-box-open" style="color: #f7b91e;"
                                *ngIf="article.qteNonEmballe !== 0 && article.listeEmballageChoisi.length === 0"
                                matTooltip="Produit n'est pas emballé"></i>
                            <i class="fas fa-box" style="color: #4caf50;"
                                *ngIf="article.qteNonEmballe === 0 && article.listeEmballageChoisi.length !== 0"
                                matTooltip="Produit emballé"></i>
                        </button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>