.quantite {
    display: inline-block;
}
.tout-emballee {
    color: #00be00;
}
.pas-tout-emballe {
    color: red;
}
.champ-quantite {
    border: 2px solid darkgray;
    width: 100px;
    border-radius: 4px;
}

