.quantite-non-emballe {
    display: inline-block;
}
.tout-emballee {
    color: #00be00;
}
.pas-tout-emballe {
    color: red;
}
.champ-quantite {
    border: 2px solid darkgray;
    width: 100px;
    border-radius: 4px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.spinner {
    width: 0px !important;
    height: 0px !important;
    padding: 10px 0 10px 0;
}
.spinner .mat-icon{
    width: 20px;
    height: 20px;
}
