<div style="display: inline-block; width: 100%;">
    <button mat-raised-button style="text-transform: capitalize; background-color: #3f6ad8; color: #fff;" routerLink="/Menu/Menu_Colisage/Packaging/Ajouter_Produit"><mat-icon>add</mat-icon>Ajouter Des Produits à Un Pack</button>
    <button mat-raised-button style="text-transform: capitalize; background-color: #3f6ad8; color: #fff;" routerLink="/Menu/Menu_Colisage/Packaging/Ajouter_Pack"><mat-icon>add</mat-icon> Ajouter Des Packs à Un Autre Pack</button>
</div>